.env
secrets/*
!secrets/.gitkeep
deploy/dashboards/branding/*
!deploy/dashboards/branding/.gitkeep
parsedmarc.ini
dmarc-msp.yaml
domain_map.yaml
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.venv/
venv/

# IDE
.idea/
# .vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Local user config
.local/
.config/

# Docker
.docker/

# bash
.bashrc
.bash_history

# zsh
.zshrc
.zsh_history
.histfile
